<div class="container">
    <div class="nav-options" >
        <div class="nav-op" routerLink="/Minor" [routerLinkActive]="['selected-option']">
          ISA Analysis</div>
        <div class="nav-op" routerLink="/Endsem" [routerLinkActive]="['selected-option']">
          End Sem Result Analysis</div>
        <div class="nav-op" routerLink="/Lab" [routerLinkActive]="['selected-option']">
          Lab CIE Analysis</div>
        <div class="nav-op" routerLink="/Withdrawal" [routerLinkActive]="['selected-option']">
          Course Withdrawal</div>
        <div class="nav-op" routerLink="/Circular" [routerLinkActive]="['selected-option']">
          Circular</div>
        <div class="nav-op" routerLink="/eligibility" [routerLinkActive]="['selected-option']">
          Eligibility</div>
        <div class="nav-op" routerLink="/makeup" [routerLinkActive]="['selected-option']">
          Makeup Minor</div>
    
      </div>
</div>
<div class="container">
    <div class="nav-options">
        <div class="nav-op" routerLink="/Minor/coordinator/single" [routerLinkActive]="['selected-option']">
            Single Marksheet
            Upload
        </div>
        <div class=" nav-op" routerLink="/Minor/coordinator/consolidated" [routerLinkActive]="['selected-option']">
            Consolidated Marksheet Upload
        </div>
        <div class="nav-op" routerLink="/Minor/coordinator/delete" [routerLinkActive]="['selected-option']">
            Delete Marksheet
        </div>

    </div>
    <div class="dashboard">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>

</div>