<div class="container">
  <div class="nav-options" >
      <div class="nav-op" routerLink="/Minor" [routerLinkActive]="['selected-option']">
        ISA Analysis</div>
      <div class="nav-op" routerLink="/Endsem" [routerLinkActive]="['selected-option']">
        End Sem Result Analysis</div>
      <div class="nav-op" routerLink="/Lab" [routerLinkActive]="['selected-option']">
        Lab CIE Analysis</div>
      <div class="nav-op" routerLink="/Withdrawal" [routerLinkActive]="['selected-option']">
        Course Withdrawal</div>
      <div class="nav-op" routerLink="/Circular" [routerLinkActive]="['selected-option']">
        Circular</div>
      <div class="nav-op" routerLink="/eligibility" [routerLinkActive]="['selected-option']">
        Eligibility</div>
      <div class="nav-op" routerLink="/makeup" [routerLinkActive]="['selected-option']">
        Makeup Minor</div>
    </div>
</div>
<div class="nav-container">

  <div class="nav-options">
    <div class="nav-op" [routerLink]="['/makeup/add-student']">Apply for makeup</div>
    <div class="nav-op" [routerLink]="['/makeup/edit-student']">Approve student</div>
    <div class="nav-op" [routerLink]="['/makeup/list-student']">Student report</div>
  </div>

</div>
<!-- <app-course-withdrawal></app-course-withdrawal>
<app-course-widthdrawal-report></app-course-widthdrawal-report>
<app-course-withdrawal-application></app-course-withdrawal-application> -->
<!-- <router-outlet></router-outlet> -->




<router-outlet></router-outlet>